venv
*.pyc
.DS_Store
scratchpad2.py
LexDivProcessing.py
Atlantic.txt
Barry.txt
Coates.txt
Wallace.txt
Wallace_2.txt
Didion.txt
Didion_2.txt
Foucault.txt
hooks.txt
Gaiman.txt
GaimanSample.txt
InfiniteJest.txt
King2.txt
Murakami.txt
Robinson.txt
Klosterman.txt
MITstudents.txt
Scalia.txt
Smith.txt
McCarthy.txt
McCarthy_2.txt
Steel.txt
Diaz.txt
Lahiri.txt
Rowling.txt
Grisham.txt
Atwood.txt
Morrison.txt
LeGuin.txt
King.txt
Sontag.txt
StudentEssays_Strong.txt
StudentEssays_Poor.txt
MoreStudentEssays.doc
TESTdidion.txt
TESTsmith.txt
TESTgkc.txt
TESTme.txt
tests/*
