<!doctype html>

<head>
  <title>Stylometer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<div>

<h1 >Stylometer</h1>
<h2>because how you write is how they see you</h2>

<form style="form_1" action="/text" method="post" id="textForm">
    <h3>Title:</h3>
    <input type="text" name="title">
    <h3>Genre:</h3>
    <input type="radio" name="Genre" value="fiction" required>Fiction
    <input type="radio" name="Genre" value="nonfiction" required>Nonfiction/essay
    <br>
    <br>
    <h3>Your Text:</h3>
    <textarea rows="4" cols="50" name="textAreaItem" required>Paste the whole shebang here</textarea>
    <p><input type="submit" value="Submit for comparisons & feedback"></p>
</form>
</div>
